#gen-nav-bar{
    background: black;
}

#mainbody{
    background:rgb(36, 96, 105);
}

#logo-text{
    font-weight: 900;
    font-family: Cooper;
    color: white;    
    font-size: 30px;
}
#icon-bg{
    background: white;
}

#head-content{
    width: 100%;
    position: fixed;
}

#nav-menu-items{
    margin-left: 60%;
}

#news-content-image{
    width:400px;
    height:500px;
    border-radius: 50%;
}

#site-logo{
    margin-top: -10px;
    margin-left: 20px;
    width: 35px;
    height: 60px;
}

#banner-undertext{
    margin-top:1%;
    font-family: Courier new;
    color:#c60c4c;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#news-updated-content{
    width: 90%;
}

#banner-text{
    font-family: arial;
    font-weight: 700;
    color:#c60c4c;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#title-remarks{
    margin-top: -20%;
    margin-bottom:70px;
}

#first-content{
    margin-top: 20%;
}

#body-content-text{
    font-size: 15px;
    font-family: Lucida sans;
    color: white;
}

#Header{
    background: black;
}

#last-tag{
    font-size: 12px;
    margin-top:100px ;
    color:white;
}

#ender{
    background: black;
}

#banner{
    width:100%;
    height: 690px;
}

#middle-mode-item{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

#news-box{
    border: 10px;
}


.content-category{
    margin-right: 350px;
    font-family: arial;
    font-weight: 900;
    color:white;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black;
}

.nav-menu-button:{
    margin-left: 10px;
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.custom-container {
    position: relative;
    width: 50%;
}

#adjust-left{
    margin-left: 10px;
}

.nav-menu-buton {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    font-size: 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    border-radius: 12px;
    width: 102px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #c60c4c;
}

.custom-container:hover .overlay {
    opacity: 1;
}